<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<!-- <script type="text/javascript" src="static/bootstrap-3.3.7/bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script> -->
		<script type="text/javascript" src="static/js/jquery.min.js" ></script>
		<script type="text/javascript" src="static/js/template-web.js"></script>
		<link rel="stylesheet" href="static/css/index.css" />
		<title></title>
	</head>
	<body>
		<div style="width: 100%;height: 20px;background-color: #449D44;"></div>
		
		<div  style="width:100px ; height: 220px; border: solid 0px  #419641;margin-left: 47%;margin-top: 10%;">
			
			<img src="static/imgs/提交成功.png" style="width: 70px;height: 70px;margin-left: 14px;"/>
			<span style="text-align: center;margin-left: 15px;">上传成功！</span><br/>
            <a href=http://localhost:8088/record-lives/index.html><span><input class="btn btn-success" style="text-align: center" type="button" value="返回首页"/></span></a><br/>
			<a href=http://localhost:8088/record-lives/file_uploading.html><span><input class="btn btn-warning"style="text-align: center" type="button" value="继续上传"/></span></a>
		</div>
		
	</body>
</html>